{% extends "base.html" %}
{% block content %}


<style>
    body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right,rgb(218, 231, 246),rgba(93, 191, 248, 0.54));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

nav {
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #007bff;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

</style>

<form method="post">
    <h2>Connexion</h2>
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary">Connexion</button>
</form>
{% endblock %}
